.container {
    display: grid;
    grid-template-columns: 180px 180px 180px 180px 180px 180px;
    gap: 10px;
    justify-content: center;
}

img {
    width: 180px;
}

.personagem {
    background-color: black;
}

h1 {
    text-align: center;
}

h4{
    color: white;
    margin-left: 25px;    
}

p{
    color: gainsboro;
    margin-left: 25px;
}

@media screen and (max-width: 1300px) {
    .container {
        display: grid;
        grid-template-columns: 180px 180px 180px 180px;
    }
}

@media screen and (max-width: 780px) {
    .container {
        display: grid;
        grid-template-columns: 180px 180px;
    }
}